body {
  padding: 10px;
  background-color: azure;
}

ul {
  list-style-type: none;
}

main {
  display: grid;
  grid-template-areas:
    "header"
    "nav"
    "article"
    "aside"
    "footer";
  grid-template-rows: 20vh 70vh 10vh;
}

@media (min-width: 800px) {
  main {
    display: grid;
    grid-template-areas:
      /* "h1 h1 h1" */
      "header header header"
      "nav article aside"
      "footer footer footer";
    grid-template-rows: 20vh 70vh 10vh;
  }
}

header {
  grid-area: header;
  background-color: lemonchiffon;
  padding: 10px;
}

header b {
  color: orangered;
}

section {
  background-color: azure;
  display: grid;
  grid-template-areas: "nav" "image";
  padding: 10px;
  padding-bottom: 10px;
}

nav {
  grid-area: nav;
  background-color: rgb(19, 19, 52);
  color: white;
}

nav h3 {
  padding-left: 10px;
}

img {
  grid-area: image;
  background-position: center center;
  max-width: 80%;
  margin: 20 px;
}

article {
  grid-area: article;
  background-color: rgb(53, 82, 133);
  color: white;
  padding: 10px;
}

aside {
  grid-area: aside;
  background-color: rgb(19, 19, 52);
  color: white;
  padding: 10px;
}

footer {
  grid-area: footer;
  background-color: lemonchiffon;
  text-align: center;
}
