body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

main {
  display: grid;
  grid-template-areas:
    "header header"
    "div div"
    "img article"
    "aside aside"
    "footer footer";
  grid-template-rows: 50vh;
}

article {
  grid-area: article;
}

aside {
  grid-area: aside;
  display: grid;
  grid-template-areas:
    "prep"
    "brais";
}

div {
  grid-area: div;
}

h1 {
  color: orange;
}

header {
  grid-area: header;
  margin: 25px;
  background-color: grey;
}

footer {
  grid-area: footer;
}

back-ground {
  color: beige;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

#element01 {
  background-color: green;
}

#element02 {
  grid-area: img;
  background-color: blue;
}

#element03 {
  background-color: red;
}

.prep {
  grid-area: prep;
}

.brais {
  grid-area: brais;
}

.element {
  border: 1px solid rbga(0, 0, 0, 0.8);
  border: padding 20px;
  /* text-align: center; */
}

footer {
  margin: 25px;
  background-color: grey;
}
